In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# from sklearn import linear_model
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error , accuracy_score , confusion_matrix

In [31]:
d = pd.read_csv('./carSample.csv',index_col=0)
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50001 entries, 30/03/2016 13:51 to 22/03/2016 9:54
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 50001 non-null  object
 1   seller               50001 non-null  object
 2   offerType            50001 non-null  object
 3   price                50001 non-null  int64
 4   abtest               50001 non-null  object
 5   vehicleType          44813 non-null  object
 6   yearOfRegistration   50001 non-null  int64
 7   gearbox              47177 non-null  object
 8   powerPS              50001 non-null  int64
 9   model                47243 non-null  object
 10  kilometer            50001 non-null  int64
 11  monthOfRegistration  50001 non-null  int64
 12  fuelType             45498 non-null  object
 13  brand                50001 non-null  object
 14  notRepairedDamage    40285 non-null  object
 15  dateCreated          50001 non-null  object
 16  postalCode           50001 non-null  int64
 17  lastSeen             50001 non-null  object
dtypes: int64(6), object(12)
memory usage: 7.2+ MB

In [32]:
print(d.dtypes)

name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
postalCode              int64
lastSeen               object
dtype: object

Droping unwanted columns

In [33]:
col=['name','dateCreated','postalCode','lastSeen']
d.drop(columns=col,axis = 1,inplace=True)
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50001 entries, 30/03/2016 13:51 to 22/03/2016 9:54
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   seller               50001 non-null  object
 1   offerType            50001 non-null  object
 2   price                50001 non-null  int64
 3   abtest               50001 non-null  object
 4   vehicleType          44813 non-null  object
 5   yearOfRegistration   50001 non-null  int64
 6   gearbox              47177 non-null  object
 7   powerPS              50001 non-null  int64
 8   model                47243 non-null  object
 9   kilometer            50001 non-null  int64
 10  monthOfRegistration  50001 non-null  int64
 11  fuelType             45498 non-null  object
 12  brand                50001 non-null  object
 13  notRepairedDamage    40285 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.7+ MB

In [38]:

print(  
# np.unique(d["name"]),
# np.unique(d["seller"]), 
# np.unique(d["offerType"]),                    
# np.unique(d["price"]),                    
# np.unique(d["abtest"]),                    
# np.unique(d["vehicleType"]),                    
# np.unique(d["yearOfRegistration"]),                    
# np.unique(d["gearbox"]),                    
# np.unique(d["powerPS"]),                    
# np.unique(d["model"]),                    
# np.unique(d["kilometer"]),                    
# np.unique(d["monthOfRegistration"]),                    
# np.unique(d["fuelType"]),                    
# np.unique(d["brand"]),                    
# np.unique(d["notRepairedDamage"]),   
# np.unique(d["dateCreated"]),                    
# np.unique(d["postalCode"])  
# np.unique(d["lastSeen"])                
)

Removing duplicates

In [39]:
d.drop_duplicates(keep="first", inplace=True)

data cleaning

   001 Handling missing values

In [ ]:
print(d.isna().sum())

name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            5188
yearOfRegistration        0
gearbox                2824
powerPS                   0
model                  2758
kilometer                 0
monthOfRegistration       0
fuelType               4503
brand                     0
notRepairedDamage      9716
dateCreated               0
postalCode                0
lastSeen                  0
dtype: int64

cleaning data column year_of_registration

In [51]:
yearwise_counts = d["yearOfRegistration"].value_counts()
print(yearwise_counts)
yearwise_counts =  d['yearOfRegistration'].value_counts().sort_index()

2000    3275
2005    3101
1999    3026
2001    2782
2003    2731
        ...
8500       1
1954       1
7500       1
1934       1
1933       1
Name: yearOfRegistration, Length: 97, dtype: int64
1000     6
1255     1
1500     2
1910    14
1928     1
        ..
7500     1
7800     1
8500     1
8888     2
9999     7
Name: yearOfRegistration, Length: 97, dtype: int64